.headerWrap {
  display: flex;
  margin-top: 28px;
  position: absolute;
  z-index: 9;
  justify-content: space-between;
}
.logo {
  font-size: 35px;
  color: #fff;
}
.nav {
  display: flex;
  align-items: center;
  li {
    a {
      font-size: 15px;
      font-weight: 600;
      margin-right: 30px;
      text-transform: uppercase;
    }
    &:last-child {
      a {
        font-size: 15px;
        background-color: #754ef9;
        border-radius: 25px;
        padding: 14px 46px 14px 46px;
        margin-right: 0px;
        color: #fff;
      }
    }
  }
}
