.first_banner {
  background-color: #754ef9;
  position: relative;
  height: 100vh;
  &::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 60%;
    top: 15px;
    z-index: 3;
    height: calc(100% - 30px);
    right: 15px;
  }
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  display: flex;
}
