.first_banner {
  background-color: #754ef9;
  position: relative;
  height: 100vh;
  &::after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 70%;
    top: 15px;
    z-index: 3;
    height: calc(100% - 30px);
    right: 15px;
  }
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 100%;
  .banner_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .title_wrapper {
    p {
      font-size: 25px;
      color: #101010;
      font-weight: 600;
    }
    .title__content {
      display: flex;
      align-items: center;
      h1 {
        font-size: 70px;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 40px;
      }
      h2 {
        font-size: 70px;
        color: #754ef9;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}
.icons__content {
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  color: #754ef9;
  text-transform: uppercase;
  p {
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
  }
  .line--icon {
    border: 1px solid #754ef9;
    padding-right: 55px;
    margin-right: 30px;
  }
  .social_icons {
    img {
      margin-right: 27px;
      transform: rotate(-90deg);
    }
  }
}
.circle-1 {
  padding: 20px;
  background: #754ef9;
  border-radius: 100%;
  margin-left: 75px;
}
.circle-2 {
  padding: 60px;
  background-color: #ffffff;
  border-radius: 100%;
}
.circle-3 {
  padding: 20px;
  background: #754ef9;
  border-radius: 100%;
  img {
    border-radius: 100%;
    object-fit: cover;
  }
}
.cards_wrapper {
  display: flex;
  justify-content: center;
}
.cards_sections {
  margin-top: 87px;
}
.card {
  margin-right: 16px;
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 293px;
  height: 461px;
  margin-bottom: 100px;
  img {
    margin-top: 67px;
    margin-bottom: 48px;
  }
  .card__content {
    padding: 0px 72px 77px 72px;
    p {
      font-size: 18px;
      margin-bottom: 15px;
    }
    span {
      font-size: 14px;
      color: rgba($color: #000, $alpha: 0.5);
    }
  }
  .card__button {
    a {
      padding: 9px 30px 9px 30px;
      background-color: #754ef9;
      color: #fff;
      font-size: 11px;
      transition: $transition1;
    }
    :hover {
      background-color: #fff;
      color: #000;
    }
  }
}
.about_wrapper {
  text-align: center;
  margin-bottom: 60px;
  h3 {
    font-size: 35px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 5px;
  }
  span {
    font-size: 18px;
    color: rgba($color: #000, $alpha: 0.5);
  }
}
.about__row {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  img {
    margin-right: 16px;
  }
  :last-child {
    margin-right: 0px;
  }
}
